{% extends 'custom_admin/admin_dashboard.html' %}
{% load static %}

  
{% block content %}
<section style="margin-top: 5rem;"></section>

<div class="col-12">


      <div class="card-body">
       
        <table class="table table-borderless datatable">
          <thead>
            <tr>
              <th scope="col">Category Name</th>
              <th scope="col">Slug</th>
              <th scope="col">Update</th>
              
            </tr>
          </thead>
          <tbody>
            {% for cr in Category_obj %}
            <tr>
              <!-- <th scope="row"><img class="img-fluid"  src="{{ cr.images.url }}" alt=""></th> -->
              <!-- <th scope="row"><a href="#"></a></th> -->
              <!-- <td>{{ cr.id}}</td> -->
              <td>{{ cr.category_name}}</td>
              <td>{{ cr.slug}}</td>
              <td><a href="{% url 'edit_category' cr.id %}" class="btn btn-default me-md-4" role="button">update</a></td>
              
         
          {% endfor %}
          
          </tbody>
        </table>

      </div>

    </div>
  </div>
  </section>


  <script>
    
  </script>
  {% endblock  %}