{% extends 'store/base.html' %}
{% load static %}
{% block content %}
<section class="section-conten padding-y bg">

    <div class="container">
        <div class="row">
          {% include 'store/includes/dashboard_sidebar.html'%}
        <main class="col-md-9">
            <article class="card">
            <header class="card-header">
                <strong class="d-inline-block mr-3">Your Order History</strong>
                
            </header>
            <div class="card-body">
                <div class="row"> 
                    <div class="col-md-12">
                        <table class="table table-hover">
                            <thead>
                              <tr>
                                <th scope="col">Order Number</th>
                                <th scope="col">Billing Name</th>
                                <th scope="col">Phone Number</th>
                                <th scope="col">Order Date</th>
                                <th scope="col">Order Total</th>
                                <th scope="col">Order Status</th>
                                <th scope="col">Return Order</th>
                              </tr>
                            </thead>
                            <tbody>
                              {% for order in orders %}
                              <tr>
                                <th scope="row"><a href="{% url 'order_detail' order.order_number %}">{{order.order_number}}</a></th>
                                <td>{{order.full_name}}</td>
                                <td>{{order.shipping.phone1}}</td>
                                <td>{{order.created_at}}</td>
                                <td>{{order.order_total}}</td>
                                <td><span class="badge bg-success">{{ order.status}}</span> <br>
                                <td>
                                   <form action="#" method="POST">  
                                    
                                    {% csrf_token %}
                                    
                                    <input type="hidden" class="can" value="{{order.id}}">
                                    {% if order.status == 'Cancelled'  %}
                                    <button type="" id="cancel-btn"  class="btn btn-outline-info btn-sm ">Cancelled</button>
                      
                                    {% elif order.status == 'Delivered' %}
                                    <button type="submit" id="cancel-"  class="btn btn-outline-info btn-sm "><a href="{% url 'return_order' order.id %}">Return</a></button>
                                    {% elif order.status == 'Return Requested' %}
                                    <button type="" id="cancel-btn"  class="btn btn-outline-info btn-sm ">Return Requested</button>
                      
                                    {% else %}
                                    <button type="submit" id="cancel-btn"  class="btn btn-outline-danger btn-sm "><a href="{% url 'user_cancel_order' order.id %}">Cancel</a></button>
                                    {% endif %}
                                     </form>
                                   </td>
                              </tr>
                              {% endfor %}
                            </tbody>
                          </table>

                        
                    </div>

                </div> <!-- row.// -->
            </div> <!-- card-body .// -->
            
            </article> <!-- order-group.// --> 
        </main>
    </div> <!-- row.// -->
    </div>
    
    
</section>
{% endblock%}    
